@import '/src/styles.scss';

.main {
  padding-top: 63px;
}
.main-section {
  padding: 30px;
  background-color: $white;
  width: 100%;
  .main-title {
    font-size: 2.6rem;
    font-weight: 600;
    color: $green;
    margin-bottom: 20px;
  }
  .search {
    display: flex;
    align-items: center;
    .search-title {
      font-size: 1.6rem;
      font-weight: 600;
    }
  }
  .filters {
    display: flex;
    flex-direction: column;
    .filter {
      color: $green;
      width: 100%;
      .label {
        font-size: 1.4rem;
        color: $green;
      }
      .input {
        font-size: 1.4rem;
      }
    }
    @media (min-width: 1025px) {
      flex-direction: row;
      width: 380px;
    }
  }
  @media (min-width: 1025px){
    padding: 50px;
  }
}

.table-container {
  max-width: 100%;
  overflow-x: scroll;
  background-color: #ffffff;
}

.mat-mdc-header-row {
  background-color: $green;
  .mat-mdc-header-cell {
    vertical-align: middle;
    min-width: 100px !important;
    max-width: 20% !important;
    color: $white;
    font-size: 1.4rem;
    text-align: center !important;
  }
}

::ng-deep .mat-sort-header-container {
  display: flex !important;
  cursor: pointer !important;
  align-items: center !important;
  letter-spacing: normal !important;
  outline: 0 !important;
  justify-content: center !important;
}

.mat-mdc-row {
  position: relative;
  .mat-mdc-cell {
    vertical-align: middle;
    color: $gray;
    min-width: 100px;
    max-width: 20%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.mat-mdc-row::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 97%;
  border-bottom: 1px solid $gray;
  margin: 0 1.5%;
}

.mat-column-name {
  height: fit-content;
}

.active {
  display: flex;
  max-width: 100%;
}

.inactive-main {
  display: none;
  @media (min-width: 1025px){
    padding-left: 291px;
    display: block;
  }
}

.buttons-filter {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  @media (min-width:1025px){
    min-width:315px;
    justify-content: flex-start;
    button {
      margin-right: 20px;
    }
  }
}
