<header>
  <div class="left-side">
    <figure class="left-side__figure">
      <img class="cerdo" src="/assets/images/cerdo.png" alt="Coink logo">
      <img class="coink" src="/assets/images/coink.png" alt="Coink">
    </figure>
  </div>
  <nav class="right-side">
    <mat-icon aria-hidden="false" aria-label="Menu icon" class="white-icon" fontIcon="menu" (click)="toggleMenu()"></mat-icon>
    <span>BACKOFFICE</span>
    <mat-icon aria-hidden="false" aria-label="Account icon" class="white-icon" fontIcon="account_circle"></mat-icon>
  </nav>
</header>
