@import '/src/styles.scss';

.aside {
  z-index: 1;
  max-width:100%;
  height: 100vh;
  display: none;
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 77px 10px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 6px #00000029;
    .profile-figure {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .profile__circle {
        width: 87px;
        height: 87px;
        border-radius: 50%;
        background-color: $soft-green;
        box-shadow: 0px 7px 15px 3px rgba(0,0,0,0.1);
        margin-bottom: 10px;
      }
      .profile__name {
        color: $green;
        font-size: 1.4rem;
        text-align: center;
        font-weight: 500;
      }
    }
  }
  .sections {
    width: 100%;
    .menu-section {
      color: $green;
      background-color: transparent;
      min-height: 45px;
      font-size: 1.4rem;
      padding: 14px 43px;
      cursor: pointer;
    }
    .menu-section:hover {
      background-color: $green;
      color: $white;
    }
  }
  @media (min-width:769px) {
    max-width: 241px;
  }
}

.active {
  display: block;
}
