<aside class="aside" [class.active]="menuActive">
  <div class="profile">
    <figure class="profile-figure">
      <div class="profile__circle"></div>
      <span class="profile__name">Jeff</span>
    </figure>
  </div>
  <ul class="sections">
    <li class="menu-section">
      Tarjetas Visa en dispensadores
    </li>
    <li class="menu-section">
      Crear dispensador
    </li>
    <li class="menu-section">
      Monitorear y editar dispensadores
    </li>
    <li class="menu-section">
      Solicitud tarjetas
    </li>
  </ul>
</aside>
