<div class="main-container">
  <aside class="aside">
    <h1 class="aside__principal-title">¡Bienvenido a la herramienta de registro Coink!</h1>
    <h2 class="aside__big-title">Coink para tu día a día. Empieza ahorrando y cumple tus sueños con propósito.</h2>
    <a href="#login" class="aside__button">Comenzar</a>
  </aside>
  <main class="login" id="login">
    <section class="login__new">
      <span>¿Aún no tienes cuenta? <a routerLink="/registro">Registrate ahora</a></span>
    </section>
    <section class="form-container">
      <h2 class="form-container__title">Iniciar sesión en Coink</h2>
      <form [formGroup]="form" class="form">
        <div class="form-group mb-40">
          <label for="email">Correo electrónico</label>
          <input class="input-text" type="email" name="email" formControlName="email" placeholder="Ingresa aquí tu correo electrónico" autocomplete="off" />
          <ng-container *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            <div class="input-error" *ngIf="form.get('email')?.errors?.['required']">
              El campo de correo electrónico es requerido.
            </div>
            <div class="input-error" *ngIf="form.get('email')?.errors?.['email']">
              Por favor ingrese una dirección de correo electrónico válida.
            </div>
          </ng-container>
        </div>

        <div class="form-group mb-20">
          <label for="password">Contraseña</label>
          <input class="input-text" type="password" name="password" formControlName="password" placeholder="Ingresa aquí tu contraseña" autocomplete="off" />
          <ng-container *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            <div class="input-error" *ngIf="form.get('password')?.errors?.['required']">
              El campo de correo electrónico es requerido.
            </div>
          </ng-container>
        </div>

        <div class="form-group--checkbox mb-60">
          <input type="checkbox" id="recordarme" />
          <label for="recordarme">Recordarme</label>
        </div>

        <div class="form-group">
          <button type="button" (click)="validateEmail(form)" [disabled]="form.invalid" [class.valid-login]="form.valid">Iniciar sesión</button>
          <a routerLink="/forgot">¿Olvidaste tu contraseña?</a>
        </div>
      </form>
    </section>
  </main>
</div>
