@import './assets/theme/coink-theme.scss';

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


$black-green: #001B24;
$white: #F2F2F2;
$black: #212121;
$gray: #BDBDBD;
$dark-green: #003336;
$green: #004B40;
$soft-green: #D1FBD9;
$light-green: #C4F6DC;
$bright-green: #1EEB00;


:root {
  font-size: 62.5%;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

body { margin: 0; font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif; box-sizing: border-box !important; }

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-60 {
  margin-bottom: 60px;
}

.input-error {
  color: #b41212;
  margin-top: 10px;
  font-size:1rem;
}

.white-icon {
  color: $white;
  font-size:26px;
}

.black-icon {
  color: $black;
  font-size:26px;
}
